@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: normal;
    font-weight: 200;
    src: url('SST-UltraLight.woff2') format('woff2'),
         url('SST-UltraLight.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: italic;
    font-weight: 200;
    src: url('SST-UltraLightItalic.woff2') format('woff2'),
         url('SST-UltraLightItalic.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: normal;
    font-weight: 300;
    src: url('SST-Light.woff2') format('woff2'),
         url('SST-Light.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: italic;
    font-weight: 300;
    src: url('SST-LightItalic.woff2') format('woff2'),
         url('SST-LightItalic.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: normal;
    font-weight: 400;
    src: url('SST-Roman.woff2') format('woff2'),
         url('SST-Roman.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: italic;
    font-weight: 400;
    src: url('SST-RomanItalic.woff2') format('woff2'),
         url('SST-RomanItalic.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: normal;
    font-weight: 500;
    src: url('SST-Medium.woff2') format('woff2'),
         url('SST-Medium.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: italic;
    font-weight: 500;
    src: url('SST-MediumItalic.woff2') format('woff2'),
         url('SST-MediumItalic.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: normal;
    font-weight: 700;
    src: url('SST-Bold.woff2') format('woff2'),
         url('SST-Bold.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: italic;
    font-weight: 700;
    src: url('SST-BoldItalic.woff2') format('woff2'),
         url('SST-BoldItalic.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: normal;
    font-weight: 800;
    src: url('SST-Heavy.woff2') format('woff2'),
         url('SST-Heavy.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'SST';
    font-style: italic;
    font-weight: 800;
    src: url('SST-HeavyItalic.woff2') format('woff2'),
         url('SST-HeavyItalic.woff') format('woff');
}
