@use 'sass:map';

$font-config: (
    capita: (
        baseline: 0.138,
        family: 'Capita',
    ),
    clean: (
        baseline: 0.113,
        family: 'Adobe Clean',
    ),
    din: (
        baseline: 0.25,
        family: 'DIN Next LT Pro',
    ),
    din-text: (
        baseline: 0.1,
        family: 'PF DIN Text',
    ),
    flama: (
        baseline: 0.12,
        family: 'Flama',
    ),
    graphik: (
        baseline: 0.133,
        family: 'Graphik',
    ),
    inter: (
        baseline: 0.121,
        family: 'Inter',
    ),
    maison: (
        baseline: 0.133,
        family: 'Maison Neue',
    ),
    sst: (
        baseline: 0.12,
        family: 'SST',
    ),
    system: (
        baseline: 0.119,
        family: -apple-system,
    ),
);

$default-header: clean;
$default-body: clean;

@each $font, $config in $font-config {
    $family: map.get($config, 'family');
    $baseline: map.get($config, 'baseline');

    .body-#{$font} {
        font-family: quote($family);

        .markdown-body {
            font-family: quote($family);

            p {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(18)),
                    $grid-height: 0.5rem,
                    $leading-bottom: 0,
                    $leading-top: 0,
                    $line-height: round(strip-unit(ms(21))),
                    $use-baseline-origin: false
                );
            }

            li,
            li > p {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(18)),
                    $grid-height: 0.5rem,
                    $leading-bottom: 1,
                    $leading-top: 1,
                    $line-height: round(strip-unit(ms(21))),
                    $use-baseline-origin: false
                );

                p + p {
                    @include plumber(
                        $baseline: $baseline,
                        $font-size: strip-unit(ms(18)),
                        $grid-height: 0.5rem,
                        $leading-bottom: 0,
                        $leading-top: 2,
                        $line-height: round(strip-unit(ms(21))),
                        $use-baseline-origin: false
                    );

                    text-indent: 0;
                }
            }

            blockquote > p {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(18)),
                    $grid-height: 0.5rem,
                    $leading-bottom: 1,
                    $leading-top: 1,
                    $line-height: round(strip-unit(ms(21))),
                    $use-baseline-origin: false
                );
            }

            .Dedication > p {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(15)),
                    $grid-height: 0.5rem,
                    $leading-bottom: 1,
                    $leading-top: 1,
                    $line-height: round(strip-unit(ms(16))),
                    $use-baseline-origin: false
                );
            }
        }
    }

    .header-#{$font} {
        .markdown-body {
            @for $h from 1 through 6 {
                h#{$h} {
                    @include plumber(
                        $baseline: $baseline,
                        $font-size: strip-unit(ms(16 - $h)),
                        $grid-height: 1rem,
                        $line-height: round(strip-unit(ms(16 - $h))),
                        $leading-top: round(strip-unit(ms(16 - $h))),
                        $leading-bottom: round(strip-unit(ms(10 - $h))),
                        $use-baseline-origin: false
                    );

                    font-family: quote($family);
                    font-weight: 700;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            h6 {
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            .Alert,
            .Warning,
            .Error,
            .Success,
            .Note {
                p {
                    @include plumber(
                        $baseline: $baseline,
                        $font-size: strip-unit(ms(17)),
                        $grid-height: 0.5rem,
                        $leading-bottom: 1,
                        $leading-top: 1,
                        $line-height: round(strip-unit(ms(21))),
                        $use-baseline-origin: false
                    );

                    font-family: quote($family);
                    text-indent: 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            figcaption {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(16)),
                    $grid-height: 0.5rem,
                    $leading-bottom: 0,
                    $leading-top: 1,
                    $line-height: round(strip-unit(ms(16))),
                    $use-baseline-origin: false
                );
            }
        }

        h2.Box-title {
            @include plumber(
                $baseline: $baseline,
                $font-size: strip-unit(ms(8)),
                $grid-height: 1rem,
                $leading-bottom: 0,
                $leading-top: 0,
                $line-height: 1,
                $use-baseline-origin: false
            );

            font-family: quote($family);
            font-weight: 600;
            margin: 0;
            padding: 1rem 0;
        }
    }
}

html {
    @extend .header-#{$default-header};
    @extend .body-#{$default-header};
}
