@use 'sass:map';

$font-config: (
    capita: (
        baseline: 0.138,
        family: 'Capita',
    ),
    clean: (
        baseline: 0.113,
        family: 'Adobe Clean',
    ),
    din: (
        baseline: 0.25,
        family: 'DIN Next LT Pro',
    ),
    din-text: (
        baseline: 0.1,
        family: 'PF DIN Text',
    ),
    flama: (
        baseline: 0.12,
        family: 'Flama',
    ),
    graphik: (
        baseline: 0.133,
        family: 'Graphik',
    ),
    inter: (
        baseline: 0.121,
        family: 'Inter',
    ),
    maison: (
        baseline: 0.133,
        family: 'Maison Neue',
    ),
    sst: (
        baseline: 0.12,
        family: 'SST',
    ),
    system: (
        baseline: 0.119,
        family: -apple-system,
    ),
);

html {
    $default-font: maison;

    $config: map.get($font-config, $default-font);
    $family: map.get($config, 'family');
    $baseline: map.get($config, 'baseline');

    font-family: quote($family);

    .markdown-body {
        font-family: quote($family);

        p,
        li {
            @include plumber(
                $baseline: $baseline,
                $font-size: strip-unit(ms(9)),
                $grid-height: 1rem,
                $leading-bottom: 1,
                $leading-top: 0,
                $line-height: round(strip-unit(ms(12))),
                $use-baseline-origin: false
            );
        }

        blockquote > p {
            @include plumber(
                $baseline: $baseline,
                $font-size: strip-unit(ms(10)),
                $grid-height: 1rem,
                $leading-bottom: 0,
                $leading-top: 0,
                $line-height: round(strip-unit(ms(13))),
                $use-baseline-origin: false
            );
        }

        figcaption {
            @include plumber(
                $baseline: $baseline,
                $font-size: strip-unit(ms(6)),
                $grid-height: 1rem,
                $leading-bottom: 0,
                $leading-top: 1,
                $line-height: round(strip-unit(ms(12))),
                $use-baseline-origin: false
            );
        }

        @for $h from 1 through 6 {
            h#{$h} {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(18 - $h * 2)),
                    $grid-height: 1rem,
                    $line-height: round(strip-unit(ms(20 - $h))),
                    $leading-top: round(strip-unit(ms(18 - $h * 2))),
                    $leading-bottom: round(strip-unit(ms(6 - $h * 2))),
                    $use-baseline-origin: false
                );

                font-family: quote($family);
                font-weight: 600;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@each $font, $config in $font-config {
    $family: map.get($config, 'family');
    $baseline: map.get($config, 'baseline');

    html.body-#{$font} {
        font-family: quote($family);

        .markdown-body {
            font-family: quote($family);

            p,
            li {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(9)),
                    $grid-height: 1rem,
                    $leading-bottom: 1,
                    $leading-top: 0,
                    $line-height: round(strip-unit(ms(12))),
                    $use-baseline-origin: false
                );
            }

            blockquote > p {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(10)),
                    $grid-height: 1rem,
                    $leading-bottom: 0,
                    $leading-top: 0,
                    $line-height: round(strip-unit(ms(13))),
                    $use-baseline-origin: false
                );
            }

            figcaption {
                @include plumber(
                    $baseline: $baseline,
                    $font-size: strip-unit(ms(6)),
                    $grid-height: 1rem,
                    $leading-bottom: 0,
                    $leading-top: 1,
                    $line-height: round(strip-unit(ms(12))),
                    $use-baseline-origin: false
                );
            }

            h6 {
                letter-spacing: 1ex;
                text-transform: uppercase;
            }
        }
    }

    html.header-#{$font} {
        .markdown-body {
            @for $h from 1 through 6 {
                h#{$h} {
                    @include plumber(
                        $baseline: $baseline,
                        $font-size: strip-unit(ms(18 - $h * 2)),
                        $grid-height: 1rem,
                        $line-height: round(strip-unit(ms(18 - $h))),
                        $leading-top: round(strip-unit(ms(18 - $h * 2))),
                        $leading-bottom: round(strip-unit(ms(12 - $h * 2))),
                        $use-baseline-origin: false
                    );

                    font-family: quote($family);
                    font-weight: 600;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
