.container {
    padding: 5%;
    width: auto !important;

    @include respond-to('lg') {
        padding: 5vh 20vw;
    }

    @include respond-to('print') {
        padding: 0;
        margin: 0;
    }
}

.repository-content {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    hyphens: manual;
    justify-content: center;
    min-height: 95vh;
}

.Box--condensed {
    width: 100%;
}

.Box-body {
    border-bottom: 0;
}

.Box-title {
    width: fit-content;
}

.p-5 {
    padding: ms(6) !important;
}

.octicon {
    line-height: inherit;
}

.markdown-body {
    figure {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: ms(16) ms(32);
    }
}

.Box-wrapper {
    margin: 0;
    width: 100%;
}
