$mono-font-config: (
    pragmatapro: (
        baseline: 0.128,
        family: 'PragmataPro Liga',
    ),
);

@each $font, $config in $mono-font-config {
    pre,
    code {
        @include plumber(
            $baseline: map-get($config, baseline),
            $font-size: strip-unit(ms(4)),
            $grid-height: 1rem,
            $line-height: round(strip-unit(ms(4))),
            $use-baseline-origin: false
        );
    }
}
