@use 'sass:map';
@use 'sass:math';

$mono-font-config: (
    pragmatapro: (
        baseline: 0.128,
        family: 'PragmataPro Liga',
    ),
);

@each $font, $config in $mono-font-config {
    $family: map.get($config, 'family') or map.get($config, 'pragmatapro', 'family');
    $baseline: map.get($config, 'baseline') or map.get($config, 'pragmatapro', 'baseline');

    pre,
    code {
        @include plumber(
            $baseline: $baseline,
            $font-size: strip-unit(ms(10)),
            $grid-height: 1rem,
            $leading-bottom: 2,
            $leading-top: 2,
            $line-height: math.round(strip-unit(ms(14))),
            $use-baseline-origin: true
        );
    }
}
