$sans-font-config: (
    clean: (
        baseline: 0.113,
        family: 'Adobe Clean',
    ),
    flama: (
        baseline: 0.12,
        family: 'Flama',
    ),
    graphik: (
        baseline: 0.133,
        family: 'Graphik',
    ),
    inter: (
        baseline: 0.121,
        family: 'Inter',
    ),
    maison: (
        baseline: 0.133,
        family: 'Maison Neue',
    ),
    sst: (
        baseline: 0.12,
        family: 'SST',
    ),
    system: (
        baseline: 0.119,
        family: -apple-system,
    ),
);

@each $font, $config in $sans-font-config {
    html.#{ $font } {
        font-family: quote(map-get($config, family));

        .markdown-body {
            font-family: quote(map-get($config, family));

            p,
            li {
                @include plumber(
                    $baseline: map-get($config, baseline),
                    $font-size: strip-unit(ms(4)),
                    $grid-height: 1rem,
                    $leading-top: 1,
                    $line-height: round(strip-unit(ms(6))),
                    $use-baseline-origin: false
                );

                @include respond-to('print') {
                    @include plumber(
                        $baseline: map-get($config, baseline),
                        $font-size: strip-unit(ms(3)),
                        $grid-height: 1rem,
                        $leading-top: 1,
                        $line-height: round(strip-unit(ms(5))),
                        $use-baseline-origin: false
                    );
                }
            }

            li > p:first-child {
                padding-top: 0;
            }

            figcaption {
                @include plumber(
                    $baseline: map-get($config, baseline),
                    $font-size: strip-unit(ms(4)),
                    $grid-height: 1rem,
                    $line-height: round(strip-unit(ms(10))),
                    $use-baseline-origin: false
                );

                color: #9e9e9e;
                text-align: center;

                @include respond-to('print') {
                    @include plumber(
                        $baseline: map-get($config, baseline),
                        $font-size: strip-unit(ms(3)),
                        $grid-height: 1rem,
                        $line-height: round(strip-unit(ms(11))),
                        $use-baseline-origin: false
                    );
                }
            }

            @for $h from 1 through 6 {
                h#{ $h } {
                    @include plumber(
                        $baseline: map-get($config, baseline),
                        $font-size: strip-unit(ms(10 - $h * 2)),
                        $grid-height: 1rem,
                        $line-height: round(strip-unit(ms(10 - $h))),
                        $leading-top: round(strip-unit(ms(10 - $h * 2))),
                        $use-baseline-origin: false
                    );

                    font-weight: 700;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            h6 {
                letter-spacing: 1ex;
                text-transform: uppercase;
            }
        }
    }
}
