@import '~plumber-sass/plumber';

html {
    color: rgba(0, 0, 0, 87%);

    font: {
        feature-settings: 'kern', 'liga', 'calt', 'lnum', 'pnum';
        kerning: auto;
        size: 50%;
        variant: {
            ligatures: common-ligatures contextual;
            numeric: lining-nums proportional-nums;
        }
    }

    @include respond-to('lg') {
        font-size: 62.5%;
    }
}

body {
    color: inherit;
    font: {
        family: inherit;
        size: inherit;
    }
}

p {
    text-indent: 0;
}

.markdown-body {
    break-inside: auto;

    p {
        text-align: left;
    }

    blockquote {
        font-weight: 300;
    }

    > .sourceCode {
        margin: 2rem;
    }

    code,
    kbd,
    pre,
    pre > code,
    samp,
    tt {
        font: {
            family: 'PragmataPro Liga', monospace;
            size: 95%;
        }

        white-space: pre-wrap;
    }
}
