@import '~plumber-sass/plumber';

html {
    color: rgba(0, 0, 0, 0.87);

    @include respond-to('print') {
        color: rgba(0, 0, 0, 1);
    }

    font: {
        kerning: auto;
        size: 50%;
        variant: {
            ligatures: common-ligatures contextual;
            numeric: oldstyle-nums proportional-nums;
        }
    }

    -moz-osx-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body {
    color: inherit;
    font: {
        family: inherit;
        size: inherit;
    }
}

.markdown-body {
    break-inside: auto;
    hyphens: manual;

    p {
        text-align: justify;
        text-indent: 0;
        hyphens: manual;
    }

    p + p {
        text-indent: ms(8);
    }

    span.indent {
        margin-left: ms(8);
    }

    blockquote {
        margin: ms(4) 10%;
    }

    ul,
    ol {
        margin: ms(4) 10%;
    }

    figcaption {
        text-align: right;
    }

    .Dedication {
        margin: ms(4) 0;

        p {
            font-size: ms(8) !important;
            text-align: center;
            font-style: italic;
        }
    }

    > .sourceCode {
        margin: 2rem;
    }

    code,
    kbd,
    pre,
    pre > code,
    samp,
    tt {
        font: {
            family: 'PragmataPro Liga', monospace;
            size: 90%;
        }

        line-height: 0;
        white-space: pre-wrap;
    }
}
