@import '~plumber-sass/plumber';

html {
    color: rgba(0, 0, 0, 87%);

    @include respond-to('print') {
        color: rgba(0, 0, 0, 1);
    }

    font: {
        kerning: auto;
        size: 50%;
        variant: {
            ligatures: common-ligatures contextual;
            numeric: oldstyle-nums proportional-nums;
        }
    }
}

body {
    color: inherit;
    font: {
        family: inherit;
        size: inherit;
    }
}

p {
    text-indent: 0;
}

.markdown-body {
    break-inside: auto;
    hyphens: manual;

    p {
        text-align: left;
    }

    blockquote {
        color: #6e6e6e;
        font-weight: 300;
        margin: 3.157rem 5%;
    }

    > .sourceCode {
        margin: 2rem;
    }

    code,
    kbd,
    pre,
    pre > code,
    samp,
    tt {
        font: {
            family: 'PragmataPro Liga', monospace;
            size: 95%;
        }

        white-space: pre-wrap;
    }
}
