<!doctype html>
<html class='$if(font)$body-$font$ header-$font$$endif$ $if(body-font)$body-$body-font$$endif$ $if(header-font)$header-$header-font$$endif$' lang='$if(lang)$$lang$$else$en-us$endif$' data-color-mode='$if(color-mode)$$color-mode$$else$auto$endif$' data-dark-theme='dark_dimmed' data-light-theme='light'>
    <head>
        <meta charset='utf-8'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>

        <meta content='article' name='og:type'>

        $if(title)$
            <title>$title$$if(subtitle)$ | $subtitle$$endif$</title>
            <meta content='$title$' name='og:title'>
            <meta content='$title$' itemprop='name'>
            <meta content='$title$' name='twitter:title'>
        $endif$

        $if(author)$
            $for(author)$
                <meta content='$author$' name='article:author'>
            $endfor$
            <meta content='$author-meta$' name='author'>
        $endif$

        $if(date-meta)$
            <meta content='$date-meta$' name='article:published_time'>
            <meta content='$date-meta$' name='revised'>
        $endif$

        $if(subject)$
            <meta content='$subject$' name='article:section'>
        $endif$

        $if(keywords)$
            <meta content='$for(keywords)$$keywords$$sep$,$endfor$' name='keywords'>
            <meta content='$for(keywords)$$keywords$$sep$ $endfor$' name='article:tag'>
        $endif$

        $if(abstract)$
            <meta content='$abstract$' name='summary'>
            <meta content='$abstract$' name='twitter:card'>
        $endif$

        $if(asset-host)$
            <link crossorigin='anonymous' href='$asset-host$/styles/bundle.css' rel='stylesheet'>
        $else$
            <link crossorigin='anonymous' href='https://hot.garb.ag/styles/bundle.css' rel='stylesheet'>
        $endif$

        $if(math)$
            $math$
        $endif$

        $for(header-includes)$
            $header-includes$
        $endfor$
    </head>
    <body>
        $for(include-before)$
            $include-before$
        $endfor$
        <div class='page'>
            <div class='preview-page' id='preview-page'>
                <main>
                    <div class='container new-discussion-timeline experiment-repo-nav'>
                        <div class='repository-content'>
                            <div class='gutter-condensed gutter-lg flex-column flex-md-row d-flex'>
                                <div class='flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0' style='margin: 2.5% auto;'>
                                    <div class='Box md js-code-block-container Box--responsive' id='readme'>
                                        <div class='d-flex js-sticky js-position-sticky top-0 border-top-0 border-bottom p-2 flex-items-center flex-justify-between color-bg-primary rounded-top-2'>
                                            <div class='d-flex flex-items-center'>
                                                <span class="btn btn-octicon p-2" aria-label="Edit this file"><svg class="octicon octicon-pencil" height="16" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path></svg></span>
                                                <h2 class='Box-title'>
                                                    $if(title)$
                                                        <a class='Link--primary '>$title$$if(subtitle)$: $subtitle$$endif$</a>
                                                    $endif$
                                                </h2>
                                            </div>
                                        </div>
                                        <div class='Box-body px-5 pb-5'>
                                            <article class='markdown-body entry-content container-lg'>
$if(toc)$
$toc$
$endif$
$body$
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
$for(include-after)$
$include-after$
$endfor$
$if(asset-host)$
    <script async defer crossorigin='anonymous' src='$asset-host$/bundle.js'></script>
$else$
    <script async defer crossorigin='anonymous' src='https://hot.garb.ag/bundle.js'></script>
$endif$
    </body>
</html>
