@font-face {
    font-display: fallback;
    font-family: 'PragmataPro Liga';
    font-style: normal;
    font-weight: 400;
    src: url('PragmataProLiga-Regular.woff2') format('woff2'),
         url('PragmataProLiga-Regular.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'PragmataPro Liga';
    font-style: italic;
    font-weight: 400;
    src: url('PragmataProLiga-Italic.woff2') format('woff2'),
         url('PragmataProLiga-Italic.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'PragmataPro Liga';
    font-style: normal;
    font-weight: 700;
    src: url('PragmataProLiga-Bold.woff2') format('woff2'),
         url('PragmataProLiga-Bold.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'PragmataPro Liga';
    font-style: italic;
    font-weight: 700;
    src: url('PragmataProLiga-BoldItalic.woff2') format('woff2'),
         url('PragmataProLiga-BoldItalic.woff') format('woff');
}
